@import "tailwindcss";

@theme {
  --color-primary: #4744e5;
  --color-secondary: #3600e1;
  --color-surface: #f8f9fb;
  --color-surface-low: #f3f4f6;
  --color-surface-lowest: #ffffff;
  --color-on-surface: #191c1e;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
  --font-sans: "Inter", sans-serif;
}

body {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  font-family: var(--font-sans);
}

.glass-panel {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.8);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
